* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #181818;
}

.h2_white {
  color: #ffffff;
}

.h2_services {
  text-align: center;
}

.h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #181818;
}

.h4_services {
  margin-top: 56px;
}

.h5 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.h5_services {
  margin-top: 8px;
}

.text-paragraph {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #181818;
}

.text-paragraph_services {
  margin-top: 16px;
}
.services {
  background-color: #181818;
  padding: 120px;
}

.services__cards {
  margin-top: 80px;
  display: flex;

  justify-content: space-between;
}

.services__card {
  width: 368px;
  height: 384px;
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
}

.services__card__number {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #181818;
}

.services__card__line {
  width: 80px;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #181818;
  margin-top: 56px;
}

@media (max-width: 1400px) {
  .container {
    width: auto;
  }
  .services {
    padding: 60px;
  }
}

@media (max-width: 1260px) {
  .services__cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .services__card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 338px;
    padding: 40px 20px;

    width: 300px;
  }
  .text-paragraph_services {
    font-size: 14px;
  }
  .services__card__line {
    margin-top: 40px;
  }
  .h4_services {
    margin-top: 40px;
  }
}
